asgiref==3.7.2
cfgv==3.4.0
distlib==0.3.7
Django==4.2.7
django-extensions==3.2.3
djangorestframework==3.14.0
filelock==3.13.1
identify==2.5.32
nodeenv==1.8.0
platformdirs==4.0.0
pre-commit==3.5.0
Pygments==2.17.2
pytz==2023.3.post1
PyYAML==6.0.1
sqlparse==0.4.4
virtualenv==20.24.7


